.cinema-body{
  background-color: #006666;
}
nav{
  background-color: #33334d;
  height: 10%;
}
.contenido{
  margin-top: 64px;
}
.jumbotron{
  background-color: #009999;
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0;
}
.titulo-cartelera{
  min-height: 45px;
  background-color: black;
}
.movies-row{
  background-color: #145252;
  min-height: 350px;
  padding: 0px 15px;
}
.movies-column{
  margin-top: 5px;
  background-color: #0f3e3e;
  min-height: 330px;
  border: black 1px dotted;
}
@media screen and (max-width:770px) {
  .right-column{
    display: none;
  }
}
.left-column{
  border-right: black 1px dotted;
}
